[Unit]
Description=clair.service
Documentation=man:podman-generate-systemd(1)
Wants=network.target
After=network-online.target

[Service]
User={{ clair_runtime_user }}
Group={{ clair_runtime_user }}
RestartSec=30s
TimeoutStartSec=30s
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=always
ExecStart=/usr/bin/podman start clair
ExecStop=/usr/bin/podman stop clair
PIDFile=
KillMode=none
Type=forking

[Install]
WantedBy=multi-user.target default.target

