$TTL 86400
@ IN SOA dns-primary.dev. admin.dev. (
                                            2020011800 ;Serial
                                            3600 ;Refresh
                                            1800 ;Retry
                                            604800 ;Expire
                                            86400 ;Minimum TTL
)
;Name Server Information
@ IN NS dns-primary.dev.
dns-primary     IN      A       192.168.122.110

;Reverse lookup for Name Server
110 IN PTR dns-primary.dev.

;PTR Record IP address to Hostname
164      IN      PTR     quay.dev.
103      IN      PTR     quay-ha.dev.
223      IN      PTR     quay-ha-2.dev.
226      IN      PTR     redis.dev.
149      IN      PTR     posgres.dev.
30       IN      PTR     clair.dev.
158      IN      PTR     clair-ha.dev.
